body {
  background-color: #d9ff92;
}

h1, h2, p, ol, ul {
  color: #a61c00;
  font-family: "Poppins", sans-serif;
}

a {
  color: #476d00;
}

.checked {
  text-decoration: line-through;
}

.description {
  width: 600px;
}

.left {
  width: 600px;
  float: left;
}

.right {
  width: 600px;
  float: left;
  margin-left: 30px;
}

img {
border-style: solid;
border-width: thick;
border-color: #a6ff00;
border-radius: 10px;
}

.steps, .ingredients {
  border-style: solid;
  border-width: thick;
  border-color: #a6ff00;
  border-radius: 10px;
  background-color: #FFC300;
  padding: 30px;
  margin-bottom: 15px;
}