body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 800px;
  width: 500px;
  background-color: rgb(58, 58, 58);
}

h1 {
  color: cyan;
}

.puzzle-container {
  display: grid;
  grid-template: 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% / 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
  height: 80%;
  width: 80%;
  border: thick solid cyan;
  border-radius: 5px;
}

.box {
  border: thin solid white;
}
