body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(#B6FFFB, #17BEBB, #19454D);
  background-attachment: fixed;
}

.main-container {
  display: grid;
  grid-template: 12.5% 12.5% 25% 12.5% 12.5% 25% / 25% 25% 25% 25%;
  column-gap: 5px;
  width: 90%;
  height: 90%;
}

h1 {
  font-family: "Bungee Shade", sans-serif;
}

h2, h3 {
  font-family: "Bungee Inline", sans-serif;
  color: #19454D;
}

h1 {
  font-size: 40px;
  font-weight: 800;
}

h3 {
  margin-top: 40px;
}

.project-display {
  font-family: "Bungee Inline", sans-serif;
  font-size: 30px;
  text-decoration: none;
  font-weight: bold;
  color: #19454D;
  text-shadow: -5px 5px 1px #F4857B,
  -7px 10px 1px #FCDC5F;
}

a, ul, p, #send {
  font-family: "M PLUS Code Latin", monospace;
}

ul {
  list-style: none;
  padding: 0;
}

header {
  grid-area: 1 / 1 / 2 / 4;
}

.bubble {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #B6FFFB;
  border-radius: 100%;
  margin: 20px;
}

.social-media {
  grid-area: 1 / 4 / 2 / 5;
  width: 300px;
  height: 300px;
}

.links {
  display: flex;
  justify-content: center;
}

.icon {
  width: 60px;
  height: 60px;
  border: thick solid #FCDC5F;
  border-radius: 100%;
  margin: 10px;
}

.skills {
  grid-area: 2 / 1 / 4 / 2;
  justify-content: flex-start;
  width: 400px;
  height: 400px;
}

.projects {
  grid-area: 2 / 2 / 4 / 4;
  display: flex;
  justify-content: flex-end;
  text-align: right;
  margin-left: 20%;
  margin-right: 10%;
}

.contact {
  grid-area: 5 / 2 / 5 / 3;
  display: flex;
  width: 300px;
  height: 300px;
  text-align: center;
}

#contact-header {
  margin-top: 40px;
}

#contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
}

#message {
  display: flex;
  flex-wrap: wrap;
  resize: none;
  height: 50%;
  margin: 10px;
  border-radius: 5px;
  border: thick solid #17BEBB;
}

#message:focus {
  outline: 1px solid #FCDC5F;
}

#send {
  width: 40%;
  border-radius: 5px;
  border: thick solid #FCDC5F;
  color: #B6FFFB;
  background-color: #19454D;
}

#about {
  grid-area: 7 / 3 / 5 / 5;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  text-align: right;
  color:#B6FFFB;
  text-shadow: 0px 1px 0px #FCDC5F,
  0px 2px 0px #F4857B;
  margin-bottom: 50px;
}

#headshot {
  width: 300px;
  border-radius: 100%;
  border: 4px solid #B6FFFB;
  background-color: #B6FFFB;
}

@media screen and (max-width: 1400px) {
  .main-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .projects {
    margin: 0px;
  }

  #about {
    flex-direction: row-reverse;
    justify-content: flex-start;
  }
}

@media screen and (max-width: 872px) {
  header {
    text-align: center;
  }

  .bubble {
    background-color: inherit;
    height: auto;
  }

  .projects {
    text-align: center;
  }

  #contact-header {
    margin: 0px;
  }

  #message {
    height: 200px;
    width: 150%;
  }

  #about {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  #headshot {
    margin-bottom: 40px;
  }
}