body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(#B6FFFB, #17BEBB, #19454D);
}

.main-container {
  display: grid;
  grid-template: 25% 25% 25% 25% / 25% 25% 25% 25%;
  column-gap: 5px;
  width: 90%;
  height: 90%;
}

h1, h2, h3 {
  font-family: "Julius Sans One", sans-serif;
}

h1 {
  font-size: 50px;
  font-weight: 800;
}

a, ul, p {
  font-family: "Cantarell", sans-serif;
}

ul {
  list-style: none;
  padding: 0;
}

header {
  grid-area: 1 / 1 / 2 / 4;
}

.bubble {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #B6FFFB;
  border-radius: 100%;
  margin: 20px;
}

.social-media {
  grid-area: 1 / 4 / 2 / 5;
  width: 300px;
  height: 300px;
}

.links {
  display: flex;
  justify-content: center;
}

.icon {
  width: 60px;
  height: 60px;
  border-color: #FCDC5F;
  border-radius: 100%;
  margin: 10px;
}

.skills {
  grid-area: 2 / 1 / 4 / 2;
  display: flex;
  width: 400px;
  height: 400px;
  text-align: center;
}

.projects {
  grid-area: 2 / 2 / 4 / 4;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 100px;
}

.contact {
  grid-area: 4 / 2 / 5 / 3;
  width: 200px;
  height: 200px;
  text-align: center;
}

.about {
  grid-area: 4 / 4 / 5 / 5;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
}

#headshot {
  border-radius: 100%;
  border-color: #FCDC5F;
}